<div class="card">
    <div class="card-body">
        <h1 class="card-title">Login</h1>
        
        
    </div>
</div>

<div class="container-fluid page-container">
    <div class="row page-row">
        <div class="col-5 no-padding">

            <div class="login-bg">
                <img src="assets/img/login-bg.jpg" class="login-bg__image" />
            </div>

        </div>
        <div class="col-7 auth-container">
            <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)" class="auth-form">
                <div class="form-container">
                    <input type="text" id="username" formControlName="username" class="form-input" placeholder="E-mail">
                    <div *ngIf="validateControl('username') && hasError('username', 'required')" class="form-validation">Username is required</div>
                </div>
                <div class="form-container">
                    <input type="password" class="form-input" placeholder="Password" id="password" formControlName="password">
                    <div *ngIf="validateControl('password') && hasError('password', 'required')" class="form-validation">Password is required</div>
                    <div *ngIf="showError" class="form-validation">
                        {{errorMessage}}
                    </div>
                </div>
                <button type="submit" class="form-btn" [disabled]="!loginForm.valid">Sign In</button>
            </form>

            <p class="form-bottom-text">
                <a class="form-bottom-text-link" [routerLink]="['/authentication/register']" routerLinkActive="active"
                                              [routerLinkActiveOptions]="{exact: true}">
                    Sign Up
                </a>
            </p>
        </div>
    </div>
</div>
